html, body {
  font-family          : 'Raleway', sans-serif;
  background-size      : cover;
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-image     : url(images/bg.png);
  background-position  : right;
}

h1 {
  font-size: 22.5px;
}
/* h2 to apply also in save and cancel bar (create) */
h2 {
  margin-left: 40px;
  font-size  : 19.5px;
  color      : #EAEAEA;
}

/* below -------------------------CSS for Home screen */
#loginBox {
  width : 480px;
  margin: auto;
}

#loginTitle {
  text-align: center;
}

#login_container {
  text-align: center;
  max-width : 480px;
  margin-top: 20px;
}

#login_container input, #gSignInWrapper, .notextselect {
  height     : 40px;
  width      : 350px;
  margin     : 5px auto;
  box-sizing : border-box;
  font-family: 'Raleway', sans-serif;
  box-shadow: 2px 2px 4px #373a3d;}

#gSignInWrapper {
  padding         : 10px;
  color           : #757575;
  cursor          : pointer;
  background-color: white;
}

.notextselect {
  padding         : 10px;
  color           : #EAEAEA;
  cursor          : pointer;
  background-color: #fc7033;
}

/* below -------------------------CSS for Main screen */
.container-main {
  display : none;
  position: relative;
  width   : 600px;
  margin  : 0 auto;
}

.title-main-bar, .title-menu-bar, .title-create-bar {
  position               : relative;
  height                 : 100px;
  text-transform         : capitalize;
  border-top-left-radius : 2px;
  border-top-right-radius: 2px;
  box-shadow             : 2px 2px 4px #373a3d;
}

.title-of-list {
  position   : absolute;
  height     : 26px;
  top        : 37px;
  left       : 15px;
  font-size  : 22.5px;
  font-weight: 500;
}

.menuBtn {
  position        : absolute;
  top             : 25px;
  right           : 30px;
  height          : 50px;
  width           : 50px;
  cursor          : pointer;
  border-radius   : 25px;
  background-size : cover;
  background-color: #D57B4A;
  background-image: url(images/menu.svg);
  box-shadow      : 2px 2px 4px #373a3d;
}

.task-list {
  position                  : relative;
  padding-top               : 10px;
  padding-bottom            : 20px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius : 2px;
  background-color          : #F9803B;
  box-shadow                : 2px 2px 4px #373a3d;
}

.task-button {
  position        : relative;
  margin          : 5px 15px;
  height          : 60px;
  width           : 95%;
  cursor          : pointer;
  background-color: #ffc35e;
  border-radius   : 2px;
  box-shadow      : 2px 2px 4px #373a3d;
}

.task-button[status="notStarted"] .taskStatus, .task-button[status="started"] .taskStatus, .task-button[status="done"] .taskStatus {
  position         : absolute;
  left             : 15px;
  top              : 10px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/not_check.svg);
}

.task-button .taskStatus:hover {
  background-image: url(images/check.svg);
}

.task-button[status="done"] .taskStatus {
  background-image: url(images/check.svg);
}

.task-button[status="done"]{
  background-color: whitesmoke;
  opacity         : 0.7;
  filter          : blur(0.7px);
}
/* how to make all div even SVG more grey ?! */

.task-button[status="started"] {
  background-color: #fff3b0;
}

.task-name {  
  position     : absolute;
  top          : 17px;
  left         : 75px;
  height       : 26px;
  font-size    : 22.5px;
  font-weight  : 500;
  width        : fit-content;
  max-width    : 400px;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.tooltip {
  display         : none;
  position        : absolute;
  top             : 18px;
  right           : 105px;
  width           : 95px;
  height          : 24px;
  font-size       : 13px;
  opacity         : 0.6;
  border-radius   : 4px;
  color           : #f5f5f5;
  background-color: black;
  transition      : all 0.3s ease;
  box-shadow      : 2px 2px 4px #373a3d;
}

.message {
  position: absolute;
  top     : 4px;
  left    : 11px;
}

.arrow {
  position        : absolute;
  top             : 10px;
  right           : -2px;
  width           : 4px;
  height          : 4px;
  transform       : rotate(45deg);
  background-color: black;
  box-shadow: 2px 2px 4px #373a3d;
}

.deadlineBtn {
  position         : absolute;
  top              : 10px;
  right            : 60px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/time.svg);
}

.favorite[fav="f"], .favorite[fav="t"] {
  position         : absolute;
  top              : 10px;
  right            : 10px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/empty_star.svg);
}

.favorite[fav="t"] {
  background-image: url(images/full_star.svg);
}

.favorite:hover {
  background-image: url(images/full_star.svg);
}

.addATask-button {
  top                : 10px;
  left               : 6px;
  width              : 98%;
  background-color   : #E96330;
  background-image   : url(images/add.svg);
}

/*  below ------------------------------------------ CSS for Menu screen */

.container-menu {
  display : none;
  position: relative;
  width   : 600px;
  margin  : 0 auto;
}

.title-of-list-menu{
  position   : absolute;
  height     : 26px;
  top        : 37px;
  left       : 15px;
  font-size  : 22.5px;
  font-weight: 500;
}

.closeBtn  {
  position        : absolute;
  top             : 25px;
  right           : 30px;
  height          : 50px;
  width           : 50px;
  cursor          : pointer;
  border-radius   : 25px;
  background-size : cover;
  background-color: #D57B4A;
  background-image: url(images/close_menu.svg);
  box-shadow      : 2px 2px 4px #373a3d;
}

.menu-list {
  position                  : relative;
  padding                   : 10px 0px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius : 2px;
  background-color          : #F9803B;
  box-shadow                : 2px 2px 4px #373a3d;
}

.new-list-name {
  position        : relative;
  padding         : 20px;
  margin          : 10px 5px 15px;
  background-color: #ffc35e;
  border-radius      : 2px;
}

.new-list-name input[type='text'] {
  height       : 50px;
  width        : 450px;
  text-indent  : 10px;
  font-size    : 15px;
  font-family  : 'Raleway', sans-serif;
  border-radius: 2px;
  box-sizing   : border-box;
  box-shadow   : inset 2px 2px 4px #373a3d;
}

.add-list-button {
  position           : absolute;
  right              : 65px;
  top                : 25px;
  height             : 40px;
  width              : 40px;
  cursor             : pointer;
  background-color   : #ffaa4d;
  background-image   : url(images/add.svg);
  background-repeat  : no-repeat;
  background-size    : 30px;
  background-position: center;
  border-radius      : 2px;
  box-shadow         : 2px 2px 4px #373a3d;
}

.list-button, .allMyTasks-button {
  position        : relative;
  margin          : 5px;
  height          : 60px;
  width           : 590px;
  cursor          : pointer;
  font-size       : 15px;
  font-weight     : 500;
  text-transform  : capitalize;
  border-radius   : 2px;
  background-color: #ffc35e;
  box-shadow      : 2px 2px 4px #373a3d;
}

.list-name{
  /* position     : absolute;
  top      : 20px;
  left     : 15px; */
  float    : left;
  padding  : 20px 0 20px 15px;
  height   : 20px;
  width    : fit-content;
  max-width: 450px;
}

.numberOfTasks, .numberOfAllTasks {
  /* position   : relative; */
  float      : left;
  padding    : 20px 0;
  height     : 20px;
  width      : fit-content;
  margin-left: 5px;
}

.delete-list-button {
  position           : absolute;
  right              : 25px;
  top                : 5px;
  height             : 50px;
  width              : 50px;
  cursor             : pointer;
  border-radius      : 2px;
  background-size    : 30px;
  background-color   : #e96330;
  background-repeat  : no-repeat;
  background-position: center;
  background-image   : url(images/delete.svg);
  box-shadow         : 2px 2px 4px #373a3d;
}

.logout-button {
  left               : 30px;
  width              : 540px;
  color              : #EAEAEA;
  background-color   : #E96330;
  background-image   : url(images/logout.svg);
}

.logout-button h1 {
  position: absolute;
  left    : 40px;
  top     : 1.7px;
}

/* below ------------------------------CSS for Create/Edit Screen */

.container-create {
  display: none;
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.taskNameInput {
  position   : absolute;
  top        : 25px;
  left       : 5px;
  height     : 50px;
  width      : 480px;
  text-indent: 10px;
  font-size  : 22.5px;
  font-family: 'Raleway', sans-serif;
  border-radius      : 2px;
  box-sizing : border-box;
  box-shadow : inset 2px 2px 4px #373a3d;
}

.create-favorite[fav="f"], .create-favorite[fav="t"] {
  position         : absolute;
  right            : 10px;
  top              : 30px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/empty_star.svg);
}

.create-favorite[fav="t"] {
  background-image: url(images/full_star.svg);
}

.create-favorite:hover {
  background-image: url(images/full_star.svg);
}

.startTask-taskDone-buttons, .taskDone-stopTask-buttons {
  display : none;
  position: relative;
  height  : 50px;
}

.taskDone-button, .stopTask-button, .startTask-button, .reStartTask-button {
  position           : relative;
  height             : 50px;
  width              : 260px;
  cursor             : pointer;
  border-radius      : 2px;
  background-size    : 40px;
  background-repeat  : no-repeat;
  background-position: bottom 5px right 10px;
  box-shadow         : 2px 2px 4px #373a3d;
}

.taskDone-button {
  background-color   : #FF9344;
  background-image   : url(images/checkW.svg);
}

.taskDone-stopTask-buttons .taskDone-button {
  left  : 15px;
}

.startTask-taskDone-buttons .taskDone-button {
  left  : 285px;
  bottom: 60px;
}

.stopTask-button {
  left               : 285px;
  bottom             : 60px;
  background-color   : #E96330;
  background-image   : url(images/close_menu.svg);
}

.startTask-button {
  position           : relative;
  left               : 15px;
  background-color   : #FF9344;
  background-image   : url(images/start.svg);
}

.reStartTask-button {
  display            : none;
  left               : 150px;
  bottom             : 3px;
  background-color   : #FF9344;
  background-image   : url(images/undone.svg);
}

.reStartTask-button .title, .taskDone-button .title, .stopTask-button .title, .startTask-button .title{
  position: absolute;
  left    : 30px;
  bottom  : -2px;
}

.form-task {
  position        : relative;
  padding         : 1px 20px 50px;
  background-color: #F9803B;
  box-shadow      : 2px 2px 4px #373a3d;
}

.form-task div {
  margin-top: 10px;
}

.form-task input[type='text'], .form-task select, .form-task input[type='date'] {
  position     : relative;
  height       : 50px;
  width        : 400px;
  text-indent  : 5px;
  font-size    : 16px;
  font-family  : 'Raleway', sans-serif;
  border-radius: 2px;
  box-sizing   : border-box;
  box-shadow   : inset 2px 2px 4px #373a3d;
}

.form-task input[type='text'] {
  left: 72px;
}

.form-task select {
  left: 130px;
}

.startDateInput {
  left: 82px;
}

.deadlineInput {
  left: 90px;
}

.remainingDays-display {
  position  : relative;
  top       : 10px;
  text-align: center;
}

.save-button, .cancel-button, .delete-button, .logout-button, .addATask-button {
  position           : relative;
  height             : 60px;
  cursor             : pointer;
  border-radius      : 2px;
  background-size    : 40px;
  background-repeat  : no-repeat;
  background-position: top 10px right 40px;
  box-shadow         : 2px 2px 4px #373a3d;
}
.save-button {
  top                : 20px;
  width              : 560px;
  background-color   : #FE8F46;
  background-image   : url(images/save.svg);
}

.cancel-button {
  top                : 25px;
  width              : 560px;
  background-color   : #FFC864;
  background-image   : url(images/close_menu.svg);
}

.delete-button {
  display            : none;
  top                : 30px;
  width              : 560px;
  background-color   : #e96330;
  background-image   : url(images/delete.svg);
}

.addATask-button .title, .save-button .title, .cancel-button .title, .delete-button .title {
  position: absolute;
  top     : 2.5px;
}