html, body {
  font-family          : 'Raleway', sans-serif;
  background-size      : cover;
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-image     : url(images/bg.png);
  background-position  : right;
}


h2 {
  margin-left: 40px;
  font-size  : 19.5px;
  color      : #EAEAEA;
}

/* below -------------------------CSS for Home screen */
#loginBox {
  width : 480px;
  margin: 0 auto;
}

#loginTitle {
  text-align: center;
}

#login_container {
  text-align: center;
  max-width : 480px;
  margin    : 20px auto;
}

#login_container input, #gSignInWrapper, .notextselect {
  height     : 40px;
  width      : 350px;
  margin     : 5px auto;
  box-sizing : border-box;
  font-family: 'Raleway', sans-serif;
  box-shadow : 2px 2px 4px #373a3d;
}

#login_container input {
  box-shadow: inset 2px 2px 4px #373a3d;
  text-indent: 5px;
}

#gSignInWrapper {
  padding         : 10px;
  color           : #757575;
  cursor          : pointer;
  background-color: white;
}

.notextselect {
  padding         : 10px;
  color           : #EAEAEA;
  cursor          : pointer;
  background-color: #fc7033;
}

/* below -------------------------CSS for Main screen */
.container_main, .container_menu, .container_create {
  display : none;
  position: relative;
  width   : 600px;
  margin  : 0 auto;
}

.title_main_bar, .title_menu_bar, .title_create_bar {
  position               : relative;
  height                 : 100px;
  text-transform         : capitalize;
  border-top-left-radius : 2px;
  border-top-right-radius: 2px;
  box-shadow             : 2px 2px 4px #373a3d;
}

.title_of_list {
  position     : absolute;
  height       : 26px;
  width        : 500px;
  top          : 37px;
  left         : 15px;
  font-size    : 22.5px;
  font-weight  : 500;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.menu_btn {
  position        : absolute;
  top             : 25px;
  right           : 30px;
  height          : 50px;
  width           : 50px;
  cursor          : pointer;
  border-radius   : 25px;
  background-size : cover;
  background-color: #D57B4A;
  background-image: url(images/menu.svg);
  box-shadow      : 2px 2px 4px #373a3d;
}

.task_list {
  position                  : relative;
  padding-top               : 10px;
  padding-bottom            : 20px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius : 2px;
  background-color          : #F9803B;
  box-shadow                : 2px 2px 4px #373a3d;
}

.task_button {
  position        : relative;
  margin          : 5px 15px;
  height          : 60px;
  width           : 95%;
  cursor          : pointer;
  background-color: #ffc35e;
  border-radius   : 2px;
  box-shadow      : 2px 2px 4px #373a3d;
}

.task_button[status="not_started"] .task_status, .task_button[status="started"] .task_status, .task_button[status="done"] .task_status {
  position         : absolute;
  left             : 15px;
  top              : 10px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/not_check.svg);
}

.has_hover .task_button .task_status:hover {
  background-image: url(images/check.svg);
}

.task_button[status="done"] .task_status {
  background-image: url(images/check.svg);
}

.task_button[status="done"] {
  background-color: whitesmoke;
}

.task_button[status="done"] > div {
  opacity         : 0.5;
}

.task_button[status="started"] {
  background-color: #fff3b0;
}

.task_name {  
  position     : absolute;
  top          : 17px;
  left         : 75px;
  width        : 380px;
  height       : 26px;
  font-size    : 22.5px;
  font-weight  : 500;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.tooltip {
  display         : none;
  position        : absolute;
  top             : 18px;
  right           : 105px;
  width           : 120px;
  height          : 28px;
  font-size       : 13px;
  opacity         : 0.8;
  border-radius   : 4px;
  color           : #f5f5f5;
  background-color: #201712;
  transition      : all 0.3s ease;
  box-shadow      : 2px 2px 4px #373a3d;
}

.message {
  position: absolute;
  top     : 6px;
  left    : 28px;
}

.arrow {
  position        : absolute;
  top             : 11px;
  right           : -3px;
  width           : 6px;
  height          : 6px;
  transform       : rotate(45deg);
  background-color: #201712;
  box-shadow      : 2px -2px 4px #373a3d;
}

.deadline_btn {
  position         : absolute;
  top              : 10px;
  right            : 60px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/time.svg);
}

.favorite[fav="f"], .favorite[fav="t"] {
  position         : absolute;
  top              : 10px;
  right            : 10px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/empty_star.svg);
}

.favorite[fav="t"] {
  background-image: url(images/full_star.svg);
}

.has_hover .favorite:hover {
  background-image: url(images/full_star.svg);
}

.add_a_task_button {
  top             : 10px;
  width           : 98%;
  margin          : 1%;
  background-color: #E96330;
  background-image: url(images/add.svg);
}

/*  below ------------------------------------------ CSS for Menu screen */

.title_of_list_menu{
  position   : absolute;
  height     : 26px;
  top        : 37px;
  left       : 15px;
  font-size  : 22.5px;
  font-weight: 500;
}

.close_btn  {
  position        : absolute;
  top             : 25px;
  right           : 30px;
  height          : 50px;
  width           : 50px;
  cursor          : pointer;
  border-radius   : 25px;
  background-size : cover;
  background-color: #D57B4A;
  background-image: url(images/close_menu.svg);
  box-shadow      : 2px 2px 4px #373a3d;
}

.menu_list {
  position                  : relative;
  padding                   : 10px 0px 30px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius : 2px;
  background-color          : #F9803B;
  box-shadow                : 2px 2px 4px #373a3d;
}

.new_list_name {
  position        : relative;
  padding         : 20px;
  margin          : 10px 5px 15px;
  background-color: #ffc35e;
  border-radius   : 2px;
}

.new_list_name input[type='text'] {
  height       : 50px;
  width        : 450px;
  text-indent  : 10px;
  font-size    : 15px;
  font-family  : 'Raleway', sans-serif;
  border-radius: 2px;
  box-sizing   : border-box;
  box-shadow   : inset 2px 2px 4px #373a3d;
}

.add_list_button {
  position           : absolute;
  right              : 65px;
  top                : 25px;
  height             : 40px;
  width              : 40px;
  cursor             : pointer;
  background-color   : #ffaa4d;
  background-image   : url(images/add.svg);
  background-repeat  : no-repeat;
  background-size    : 30px;
  background-position: center;
  border-radius      : 2px;
  box-shadow         : 2px 2px 4px #373a3d;
}

.list_button, .all_my_tasks_button {
  position        : relative;
  margin          : 5px;
  height          : 60px;
  width           : 590px;
  cursor          : pointer;
  font-size       : 15px;
  font-weight     : 500;
  text-transform  : capitalize;
  border-radius   : 2px;
  background-color: #ffc35e;
  box-shadow      : 2px 2px 4px #373a3d;
}

.list_name{
  float        : left;
  padding      : 20px 0 20px 15px;
  height       : 20px;
  width        : fit-content;
  max-width    : 400px;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.number_of_tasks, .number_of_all_tasks {
  float      : left;
  padding    : 20px 0;
  height     : 20px;
  width      : fit-content;
  margin-left: 5px;
}

.delete_list_button {
  position           : absolute;
  right              : 25px;
  top                : 5px;
  height             : 50px;
  width              : 50px;
  cursor             : pointer;
  border-radius      : 2px;
  background-size    : 30px;
  background-color   : #e96330;
  background-repeat  : no-repeat;
  background-position: center;
  background-image   : url(images/delete.svg);
  box-shadow         : 2px 2px 4px #373a3d;
}

.logout_button {
  top             : 15px;
  left            : 30px;
  width           : 540px;
  background-color: #E96330;
  background-image: url(images/logout.svg);
}

/* below ------------------------------CSS for Create/Edit Screen */

.task_name_input {
  position   : absolute;
  top        : 25px;
  left       : 5px;
  height     : 50px;
  width      : 480px;
  text-indent: 10px;
  font-size  : 22.5px;
  font-family: 'Raleway', sans-serif;
  border-radius      : 2px;
  box-sizing : border-box;
  box-shadow : inset 2px 2px 4px #373a3d;
}

.create_favorite[fav="f"], .create_favorite[fav="t"] {
  position         : absolute;
  right            : 10px;
  top              : 30px;
  height           : 40px;
  width            : 40px;
  cursor           : pointer;
  background-size  : cover;
  background-repeat: no-repeat;
  background-image : url(images/empty_star.svg);
}

.create_favorite[fav="t"] {
  background-image: url(images/full_star.svg);
}

.has_hover .create_favorite:hover {
  background-image: url(images/full_star.svg);
}

.start_task_task_done_buttons, .task_done_stop_task_buttons {
  display : none;
  position: relative;
  height  : 50px;
  width   : 540px;
  margin  : 15px auto 15px;
}

.task_done_btn, .stop_task_btn, .start_task_btn, .restart_task_btn {
  position           : relative;
  height             : 50px;
  width              : 260px;
  cursor             : pointer;
  border-radius      : 2px;
  background-size    : 40px;
  background-repeat  : no-repeat;
  background-position: bottom 5px right 10px;
  box-shadow         : 2px 2px 4px #373a3d;
}

.task_done_btn {
  background-color   : #FF9344;
  background-image   : url(images/checkW.svg);
}

.task_done_stop_task_buttons .task_done_btn {
  float : left;
  margin: 0;
}

.start_task_task_done_buttons .task_done_btn {
  float : right;
  margin: 0;
}

.stop_task_btn {
  float           : right;
  margin          : 0;
  background-color: #E96330;
  background-image: url(images/close_menu.svg);
}

.start_task_btn {
  float           : left;
  margin          : 0;
  background-color: #FF9344;
  background-image: url(images/start.svg);
}

.restart_task_btn {
  display         : none;
  left            : 150px;
  margin          : 15px 0;
  background-color: #FF9344;
  background-image: url(images/undone.svg);
}

.form_task {
  position        : relative;
  padding         : 1px 20px 50px;
  background-color: #F9803B;
  box-shadow      : 2px 2px 4px #373a3d;
}

.label_input {
  height: 50px;
  margin-top: 10px;
}

.label_input label {
  float: left;
  padding: 15px 0;
}

.form_task input[type='text'], .form_task select, .form_task input[type='date'] {
  float: right;
  height       : 50px;
  width        : 400px;
  text-indent  : 5px;
  font-size    : 16px;
  font-family  : 'Raleway', sans-serif;
  border-radius: 2px;
  box-sizing   : border-box;
  box-shadow   : inset 2px 2px 4px #373a3d;
}

.remaining_days_display {
  position     : relative;
  top          : 10px;
  text-align   : center;
  margin-top   : 5px;
  margin-bottom: 10px;
}

.save_button, .cancel_button, .delete_button, .logout_button, .add_a_task_button {
  position           : relative;
  height             : 60px;
  cursor             : pointer;
  border-radius      : 2px;
  background-size    : 40px;
  background-repeat  : no-repeat;
  background-position: top 10px right 40px;
  box-shadow         : 2px 2px 4px #373a3d;
}
.save_button {
  top             : 20px;
  width           : 560px;
  margin-top      : 10px;
  background-color: #FE8F46;
  background-image: url(images/save.svg);
}

.cancel_button {
  top             : 25px;
  width           : 560px;
  margin-top      : 10px;
  background-color: #FFC864;
  background-image: url(images/close_menu.svg);
}

.delete_button {
  display         : none;
  top             : 30px;
  width           : 560px;
  margin-top      : 10px;
  background-color: #e96330;
  background-image: url(images/delete.svg);
}

.text_in_button {
  position   : absolute;
  top        : 17px;
  left       : 40px;
  height     : 26px;
  font-size  : 19.5px;
  font-weight: 500;
  color      : #EAEAEA;
}

.logout_text {
  font-size  : 22.5px;
}

.status_btn {
  top  : 12px;
  left : 80px;
  width: 100px;
}

/* media queries below */

@media(max-width: 650px) {
  #loginBox {
    width: 95%;
  }

  #login_container input, #gSignInWrapper, .notextselect {
    width: 70%;
  }

  .container_main, .container_menu, .container_create {
    width: 95%;
  }

  .task_button, .list_button, .all_my_tasks_button {
    width : auto;
    margin: 2% 3%;
  }

  .title_of_list {
    max-width: 80%;
  }

  .task_name {
    width: 60%;
  }

  .tooltip {
    width: 25%;
  }

  .message {
    left: 19%;
  }

  .new_list_name input[type='text'] {
    width: 80%;
  }

  .add_list_button {
    right: 10%;
  }

  .list_name {
    max-width: 69%;
  }

  .logout_button, .save_button, .cancel_button, .delete_button {
    left  : 0px;
    width : 90%;
    margin: 1% 5%;
  }

  .task_name_input {
    width: 80%;
  }

  .form_task input[type='text'], .form_task select, .form_task input[type='date'] {
    width: 70%;
  }

  .task_done_btn, .stop_task_btn, .start_task_btn, .restart_task_btn {
    width              : 48%;
    background-position: bottom 5px right 5px;
  }

  .start_task_task_done_buttons, .task_done_stop_task_buttons {
    width: 90%;
  }

  .status_btn {
    left: 15%;
  }

}

@media(max-width: 475px) {
  .container_main, .container_menu, .container_create {
    width: 100%;
  }

  .title_of_list {
    max-width: 70%;
    font-style: 19px;
  }

  .menu_btn, .close_btn {
    height: 40px;
    width: 40px;
  }

  .task_button, .list_button, .all_my_tasks_button {
    height: 40px;
  }

  .task_button[status="not_started"] .task_status, .task_button[status="started"] .task_status, .task_button[status="done"] .task_status, .deadline_btn, .favorite[fav="f"], .favorite[fav="t"] {
    height: 20px;
    width: 20px;
  }

  .task_name {
    font-size: 18px;
    height   : 20px;
    top      : 10px;
    left     : 50px;
  }

  .deadline_btn {
    right: 33px;
  }

  .add_a_task_button, .logout_button, .save_button, .cancel_button, .delete_button {
    height             : 50px;
    background-size    : 30px;
    background-position: top 10px right 30px;
  }

  .text_in_button {
    top: 12px;
  }

  .new_list_name input[type='text'] {
    height: 40px;
  }

  .add_list_button {
    height: 30px;
    width: 30px;
    background-size: 20px;
  }

  .list_name {
    padding: 10px 0 10px 10px;
  }

  .number_of_tasks, .number_of_all_tasks {
    padding: 10px 0;
  }

  .delete_list_button{
    right          : 15px;
    height         : 30px;
    width          : 30px;
    background-size: 20px;
  }

  .form_task {
    padding: 1px 10px 50px;
  }

  .status_btn {
    left: 10%;
  }

  .task_done_btn, .stop_task_btn, .start_task_btn, .restart_task_btn {
    width              : 48%;
    background-size    : 30px;
    background-position: bottom 10px right 5px;
  }

  .tooltip {
    top      : 10px;
    right    : 65px;
    width    : 25%;
    height   : 18px;
    font-size: 11px;
  }

  .message {
    left: 17%;
    top : 2px;
  }

  .arrow {
    top: 6px;
  }
}