html, body {

  background-image: url(../../images/bg.png);
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  width:100%;
  margin:0;
}

body {
  display:flex;
}

.container-home {
  width: 480px;
  margin: auto;
  /* height: 100vh; */
}

.title {
  text-align: center;
}

form {
  text-align: center;
}

input {
  height: 20px;
  max-width: 480px;
}

.submit {
  height: 20px;
  max-width: 480px;
  background-color: #fc7033;
  color: #EAEAEA;
}
