
/* below css for Login page */

html, body {

  background-image: url(../images/bg.png);
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  width:100%;
  margin:0;
}

body {
  display:flex;
}

.container-home {

  width: 480px;
  margin: auto;
  /* height: 100vh; */
}

.title {
  text-align: center;
}

form {
  text-align: center;
}

input {
  height: 20px;
  max-width: 480px;
}

.submit {
  height: 20px;
  max-width: 480px;
  background-color: #fc7033;
  color: #EAEAEA;
}

/* below -------------------------CSS for Main screen */

.container-main {
  display: none;
  width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 22.5px;
}

.title-main-bar {
  display: flex;
  justify-content: space-between;
}

#menuBtn  {
  height: 50px;
  width: 50px;
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px #1C1C22;
  border-radius: 25px;
  cursor: pointer;
  background-color: #CF0E22;
  /* -webkit-mask:  url(../images/menu.svg) no-repeat 100% 100%; */
}
.task-list {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: tomato;
}

.task-button {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 95%;
  margin: 5px auto;
  font-size: 15px;
  background-color: #ffc35e;
  align-items: center;
}

#checkBtn  {
  height: 40px;
  width: 40px;
  background-image: url(../images/not_check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 1px 1px 4px #1C1C22; */
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  /* background-color: #CF0E22; */
}

.task_name{
  padding-left: 15px;
  height: 60px;
  align-items: center;
}
.task_name p {
  /* margin: auto; */
}
.check-task_name-onLeft {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 60px;
}

.deadline-favorite-onRight{
  display: flex;
  align-items: center;
  padding-right: 5px;
  height: 60px;
}
#deadlineBtn  {
  height: 40px;
  width: 40px;
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 1px 1px 4px #1C1C22; */
  cursor: pointer;
  margin-right: 10px;
  /* background-color: #CF0E22; */
}

#favoriteInMainBtn  {
  height: 40px;
  width: 40px;
  background-image: url(../images/empty_star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 1px 1px 4px #1C1C22; */
  cursor: pointer;
  margin-right: 10px;
  /* background-color: #CF0E22; */
}

.addATask-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 98%;
  background-color: #E96330;
  color: white;
  margin: auto;
  box-shadow: 1px 1px 4px #1C1C22;
  align-items: center;
  cursor: pointer;
}

/* h2 to apply also in save and cancel bar (create) */
h2 {
  margin-left: 40px;
  font-size: 19.5px;
}
#addATaskBtn  {
  width: 50px;
  height: 50px;
  background-image: url(../images/add.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px #1C1C22;
  border-radius: 25px;
  background-color: #E96330;
  margin: 5px 40px;
}

/*  below --------------------------- CSS for Menu screen */

.container-menu {
  display: none;
  width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 22.5px;
}

.title-menu-bar {
  display: flex;
  justify-content: space-between;
}

#closeBtn  {
  height: 50px;
  width: 50px;
  background-image: url(../images/close_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px #1C1C22;
  border-radius: 25px;
  cursor: pointer;
  background-color: #CF0E22;
}
.list-list {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: tomato;
}

.list-list svg {
  height: 30px;
  width: 30px;
}

.new-list-name {
  display: flex;
  margin: 15px 5px;
  height: 50px;
  background-color: #ffc35e;
  padding: 10px 15px;
  align-items: center;
}

.new-list-name input {
  width: 450px;
  margin-right: 15px;
}

.new-list-name button {
  height: 40px;
  width: 40px;
  background-color: #ffaa4d;
  color: white;
  align-items: center;
}

.list-button {
  justify-content: space-between;
  display: flex;
  height: 60px;
  width: 95%;
  margin: 5px auto;
  font-size: 15px;
  background-color: #ffc35e;
  align-items: center;
}

.list_name-onLeft {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 60px;
}

.list_name{
  padding-left: 15px;
  height: 60px;
  align-items: center;
}

.delete-list-button {
  height: 50px;
  width: 50px;
  background-color: #e96330;

}

.logout-bar {
  display: flex;
  justify-content: space-between;
  /* height: 60px; */
  width: 540px;
  background-color: #E96330;
  color: white;
  margin: auto;
  box-shadow: 1px 1px 4px #1C1C22;
  align-items: center;
  cursor: pointer;
}

.logout-bar h1 {
  margin-left: 40px;
}
#logoutBtn  {
  width: 60px;
  height: 60px;
  background-image: url(../images/logout.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px #1C1C22;
  border-radius: 30px;
  background-color: #E96330;
  margin: 5px 40px;
}

/* below --------------------------CSS for Create Screen */

.container-create {
  display: none;
  width: 600px;
  margin: 0 auto;
}

.title-create-bar {
  display: flex;
  justify-content: space-between;
  height: 140px;
  align-items: center;
}

#taskName {
  width: 450px;
  height: 50px;
}


#favoriteBtn  {
  height: 60px;
  width: 60px;
  background-image: url(../images/empty_star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px #1C1C22;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
  /* background-color: #CF0E22; */
}

.form-new-task {
  /* display: flex; */
  padding: 10px 20px;
  background-color: tomato;

}

.form-new-task div {
  display: flex;
  margin: auto;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.form-new-task input[type='text'] {
  height: 50px;
  width: 400px;
  text-indent: 5px;
  padding: 0px;
}

.form-new-task select {
  height: 52px;
  width: 402px;
}

.form-new-task input[type='date'] {
  height: 50px;
  width: 400px;
}

.form-new-task p {
  text-align: center;
 
}

.save-cancel-bar {
  display: block;
  padding-top: 40px;
  padding-bottom: 500px;
  background-color: tomato;
}
.save-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 560px;
  background-color: #FE8F46;
  color: white;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px #1C1C22;
  align-items: center;
  cursor: pointer;

}

#saveBtn {
  width: 50px;
  height: 50px;
  background-image: url(../images/save.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px #1C1C22;
  border-radius: 25px;
  background-color: #E96330;
  margin: 5px 40px;
}

.cancel-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 560px;
  background-color: #FFC864;
  color: white;
  margin: auto;
  box-shadow: 1px 1px 4px #1C1C22;
  align-items: center;
  cursor: pointer;
}

#cancelBtn {
  width: 50px;
  height: 50px;
  background-image: url(../images/close_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px #1C1C22;
  border-radius: 25px;
  background-color: #E96330;
  margin: 5px 40px;
}