<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesheets/style.css">
    <title>TO DO LIST</title>
  </head>
  <body>
    <div class="container-home">
      <h1 class="title">Welcome on TO DO LIST</h1>
      <form action="" method="POST">
          <p>
            <input type="text" placeholder="Username" name="uname" required>
          </p>
          <p>
            <input type="password" placeholder="Password" name="psw" required>
          </p>
          <p>
            <button class="submit" type="submit">Login</button>
          </p>
          <p>
            <button class="submit" type="submit">Sign in with Google</button>
          </p>
      </form>
    </div>
  </body>
</html>
