<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/stylesheets/style.css">
  <title>TO DO LIST</title>
</head>
<body>
  <div class="container">
    <div class="login-form">
      <h1 class="title">Welcome on TO DO LIST</h1>
      <form>
        <input type="Username"value="Username">
        <input type="Password">
        <input type="submit" value="Login">
      </form>
      <button type="submit">Sign in with Google</button>
    </div>
  </div>
</body>
</html>


